@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
a button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.back {
  width: 100%;
  height: 800px;
  background-color: #151515;
}

.promo {
  width: 100%;
  background-image: url(../img/img/promo-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #151515;
  height: 800px;
}
.promo .promo-mobile {
  display: none;
}
.promo .promo-content {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.promo .promo-content .title {
  max-width: 514px;
}
.promo .promo-content .title h1 {
  font-family: Big Shoulders Display;
  font-weight: 900;
  font-size: 96px;
  line-height: 92%;
  text-transform: uppercase;
  color: white;
}
.promo .promo-content .title h1 span {
  color: #151515;
}
.promo .promo-content .some-text {
  display: flex;
  flex-direction: column;
}
.promo .promo-content .some-text p {
  max-width: 350px;
  font-family: Outfit;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
  color: #444;
}
.promo .promo-content .some-text button {
  width: 260px;
  margin-top: 30px;
  border: none;
  display: flex;
  justify-content: space-between;
}
.promo .promo-content .some-text button .text {
  font-family: Big Shoulders Display;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.18em;
  color: white;
  text-transform: uppercase;
  padding: 32px 36px;
  background-color: #151515;
  transition: 0.5s;
}
.promo .promo-content .some-text button .text:hover {
  background-color: #d5966c;
}
.promo .promo-content .some-text button .arrow {
  padding: 30px 20px;
  background-color: #d5966c;
  transition: 0.5s;
}
.promo .promo-content .some-text button .arrow:hover {
  background-color: #151515;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 200px;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about .about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-top .about-top-text {
  max-width: 350px;
}
.about .about-top .about-top-text h2 {
  font-family: Big Shoulders Display;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
  color: #151515;
}
.about .about-top .about-top-text p {
  margin-top: 25px;
  font-family: Outfit;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
  color: #444;
}
.about .about-top .top-img-desktop {
  display: block;
}
.about .about-top .top-img-tablet {
  display: none;
}
.about .about-top .top-img-mobile {
  display: none;
}
.about .about-bottom {
  display: flex;
  justify-content: space-between;
}
.about .about-bottom .about-bottom-left .about-bottom-left-desktop {
  display: block;
}
.about .about-bottom .about-bottom-left .about-bottom-left-tablet {
  display: none;
}
.about .about-bottom .about-bottom-left .about-bottom-left-mobile {
  display: none;
}
.about .about-bottom .about-bottom-right {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.about .about-bottom .about-bottom-right .about-bottom-right-desktop {
  display: block;
}
.about .about-bottom .about-bottom-right .about-bottom-right-tablet {
  display: none;
}
.about .about-bottom .about-bottom-right .about-bottom-right-mobile {
  display: none;
}
.about .about-bottom .about-bottom-right .data {
  padding: 70px 50px;
  background-color: #151515;
}
.about .about-bottom .about-bottom-right .data h3 {
  font-family: Big Shoulders Display;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}
.about .about-bottom .about-bottom-right .data p {
  margin-top: 30px;
  font-family: Outfit;
  font-weight: 300;
  font-size: 22px;
  line-height: 145%;
  color: white;
}

.footer-background {
  width: 100%;
  background-color: #151515;
}
.footer-background .footer {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-background .footer p {
  font-family: Outfit;
  width: 430px;
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: white;
}
.footer-background .footer .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-background .footer .icons .card {
  transition: 0.5s;
  background-color: transparent;
  cursor: pointer;
}
.footer-background .footer .icons .card:hover {
  background-color: #d5966c;
}

@media (max-width: 1110px) {
  .promo {
    width: 100%;
    background-image: url(../img/img/promo-backgroun-tablet.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 700px;
  }
  .promo .promo-mobile {
    display: none;
  }
  .promo .promo-content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .promo .promo-content .title {
    max-width: 339px;
  }
  .promo .promo-content .title h1 {
    color: #151515;
  }
  .about {
    margin-bottom: 100px;
  }
  .about .about-top {
    display: flex;
    justify-content: space-evenly;
  }
  .about .about-top .top-img-desktop {
    display: none;
  }
  .about .about-top .top-img-tablet {
    display: block;
  }
  .about .about-top .top-img-mobile {
    display: none;
  }
  .about .about-bottom {
    display: flex;
    justify-content: space-evenly;
  }
  .about .about-bottom .about-bottom-left .about-bottom-left-desktop {
    display: none;
  }
  .about .about-bottom .about-bottom-left .about-bottom-left-tablet {
    display: block;
  }
  .about .about-bottom .about-bottom-left .about-bottom-left-mobile {
    display: none;
  }
  .about .about-bottom .about-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .about .about-bottom .about-bottom-right .about-bottom-right-desktop {
    display: none;
  }
  .about .about-bottom .about-bottom-right .about-bottom-right-tablet {
    display: block;
  }
  .about .about-bottom .about-bottom-right .about-bottom-right-mobile {
    display: none;
  }
  .about .about-bottom .about-bottom-right .data {
    max-width: 280px;
    padding: 35px 20px;
  }
  .about .about-bottom .about-bottom-right .data h3 {
    font-size: 60px;
    line-height: 100%;
  }
  .about .about-bottom .about-bottom-right .data p {
    max-width: 223px;
    font-size: 22px;
    line-height: 145%;
  }
  .footer-background .footer p {
    max-width: 281px;
  }
}
@media (max-width: 600px) {
  .promo {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promo .promo-mobile {
    display: block;
  }
  .promo .promo-content {
    padding: 0;
  }
  .promo .promo-content h1 {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 92%;
  }
  .about {
    margin-top: 100;
  }
  .about .about-top {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .about .about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 30px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */